<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meme Streamer</title>
  <link rel="icon" href="/images/logo.jpg">
  <link rel="stylesheet" href="/css/homePageStyles.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body class="homeBody">
  <% if(message){ %>
  <div style="text-align: center" class="alert alert-<%=message.type%>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%=message.intro%></strong> <%=message.message%>
  </div>
  <% } %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <div class="memeSubmission">
    <h1 class="homeLabel"><strong>Stream Memes</strong></h1>
    <form action="" method="POST">
      <div class="form-group">
        <label for="memeOwner">Meme Owner</label>
        <input type="text" class="form-control" name="memeOwner" placeholder="Enter your fullname">
      </div>
      <div class="form-group">
        <label for="caption">Caption</label>
        <input type="text" class="form-control" name="caption" placeholder="Be creative with the captions">
      </div>
      <div class="form-group">
        <label for="memeURL">URL</label>
        <input type="text" class="form-control" name="URL" placeholder="Enter URL of your meme here">
      </div>
      <button type="submit" class="btn btn-primary btn-lg button" name="submit">Submit</button>
    </form>
    <!-- <button type="submit" class="btn btn-info btn-lg button" id="viewButton" name="view"><a href="/memes"></a>View</button> -->
  </div>
  <div class="memesDisplay">
    <div class="memeInfo">
      <h2><b>Caption name</b></h2>
      <p>Owner name</p>
    </div>
    <div class="">
      <img class="d-block centerMeme"  src="/images/logo.jpg" alt="Demo Meme">
    </div>
    <%var slideNumber=0;%>
    <%while(slideNumber<memes.length){%>
      <%console.log('meme URL: '+memes[slideNumber].URL);%>
    <div class="memeInfo">
      <h2><b><%=memes[slideNumber].caption%></b></h2>
      <p><%=memes[slideNumber].memeOwner%></p>
    </div>
    <div class="">
      <img class="d-block centerMeme" src="<%=memes[slideNumber].URL%>" alt="<%=memes[slideNumber].caption%>">
    </div>
    <%slideNumber+=1;%>
    <%}%>
  </div>
</body>

</html>
